In [1]:
fp = open('input.txt','r')

L = []

for line in fp:
    L.append(line.replace('\n',''))

In [2]:
P = [[0 for i in range(1,301)] for j in range(1,301)]

In [1]:
def get_power_level(x,y,serial):
    rack_id = x+10
    power = y*rack_id
    power += serial
    power = power*rack_id
    digit = int(list('0000000'+str(power))[-3])
    digit -= 5
    return(digit)

In [157]:
get_power_level(4,1,7511)

-1

In [2]:
M = []
for y in range(1,301):
    M.append([get_power_level(x,y,7511) for x in range(1,301)])

In [3]:
def print_L(L,x_min,y_min,x_max,y_max):
    for y in range(y_min,y_max+1):
        print([L[y][x] for x in range(x_min,x_max+1)])

In [4]:
print_L(M,0,0,5,5)

[2, -3, 3, -2, 3, -1]
[3, -1, 4, 0, -4, 1]
[4, 0, -4, 2, -2, 4]
[-4, 2, -2, 4, 0, -3]
[-3, 3, -1, -4, 2, -1]
[-2, 4, 1, -2, -5, 2]

In [5]:
def three_sum(M,x,y):
    s = 0
    for yc in range(y,y+3):
        for xc in range(x,x+3):
            s+=M[yc][xc]
    return(s)

max_val = -100

for y in range(0,297):
    for x in range(0,297):
        m = three_sum(M,x,y)
        if m > max_val:
            max_val = m
            print("max %s at %s,%s" % (max_val,x+1,y+1))

max 8 at 1,1
max 10 at 31,1
max 14 at 94,1
max 16 at 208,1
max 23 at 260,1
max 25 at 52,11
max 27 at 22,21
max 34 at 21,22

In [ ]:
def n_sum(M,x,y,n):
    s = 0
    for yc in range(y,y+n):
        for xc in range(x,x+n):
            s+=M[yc][xc]
    return(s)

max_val = -100

for n in range(1,301):

    for y in range(0,299):
        for x in range(0,299):
            if y+n>300 or x+n>300:
                continue
            try:
                m = n_sum(M,x,y,n)
                if m > max_val:
                    max_val = m
                    print("max %s at %s,%s size %s" % (max_val,x+1,y+1,n))
            except:
                pass

max 2 at 1,1 size 1
max 3 at 3,1 size 1
max 4 at 7,1 size 1
max 5 at 3,1 size 2
max 6 at 42,1 size 2
max 9 at 94,1 size 2
max 12 at 131,1 size 2
max 13 at 120,5 size 2
max 14 at 99,6 size 2
max 15 at 21,22 size 2
max 16 at 21,23 size 2
max 23 at 260,1 size 3
max 25 at 52,11 size 3
max 27 at 22,21 size 3
max 34 at 21,22 size 3
max 38 at 21,21 size 4
max 39 at 18,104 size 5
max 44 at 234,185 size 5
max 45 at 233,295 size 5
max 47 at 234,185 size 6
max 54 at 242,291 size 6
max 61 at 233,295 size 6
max 66 at 237,288 size 7
max 70 at 237,290 size 7
max 73 at 237,292 size 7
max 76 at 237,294 size 7
max 77 at 237,287 size 8
max 80 at 236,290 size 8
max 83 at 236,291 size 8
max 86 at 236,292 size 8
max 90 at 236,293 size 8
max 93 at 236,288 size 9
max 94 at 237,288 size 9
max 95 at 235,290 size 9
max 107 at 235,292 size 9
max 108 at 236,289 size 10
max 112 at 234,291 size 10
max 114 at 236,291 size 10
max 116 at 235,288 size 11
max 121 at 237,288 size 11
max 128 at 233,290 size 11
max 132 at 236,287 size 12
max 142 at 236,289 size 12
max 147 at 235,288 size 13